{% extends 'base.html' %}
{% block title %}
    <title>X NAIL инфо</title>
{% endblock title %}

{% block content %}
<div class="container">
    <h2>Информация про IKATIE NAIL</h2>
     <p class="fs-5 text-muted">Адресс студии: xxx</p>
     <a class="btn btn-outline-primary"  href="https://yandex.ru/profile/#">Карта</a>
    <p class="fs-5 text-muted">Перейдя в инстаграмм вы найдёте лучшие в мире работы.(Нужен VPN)</p>
     <a class="btn btn-outline-primary"  href="http://www.instagram.com/X_nail/">В инстаграм</a>
    <p class="fs-5 text-muted">Так же не стесняемся подписываться в Telegram и Vkontakte.</p>
     <a class="btn btn-outline-primary"  href="https://t.me/X_nail">Telegram</a>
     <a class="btn btn-outline-primary"  href="https://vk.com/X_nail">Vkontakte</a><br><br>
    <h6>Если нет VPN, то можно просто найти через поиск @X_nail</h6>
    </div>

<img src="https://sun9-80.userapi.com/impg/m_UyIXenUkxntM2gAMFyzCmWlRLX7Hg7aqTXXQ/jgm7Dqi7Fo8.jpg?size=640x640&quality=96&sign=2508cd098137a6f9ac1ec10df6fe2dfe&type=album">
{% endblock content %}